.header {
  background: $white url("../img/bgmob.svg");
  padding-bottom: 40px;
}

.header__logo-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  padding: 20px 18px 0 18px;
}

.header__logo-block--fixed {
  display: none;
}

.header__fixed-menu,
.header__fixed-logo {
  display: none;
}

.header__menu-btn {
  border: none;
  background: none;
  padding-right: 4px;
}

.header__order-btn {
  display: none;
}

.line {
  display: none;
}

.header__name,
.header__caption {
  font-family: "SF Pro Display";
  color: $white;
  text-align: center;
}

.header__name {
  font-size: 1.600rem;
  margin-bottom: 12px;
}

.header__caption {
  font-size: 2.938rem;
  line-height: 120%;
  letter-spacing: 2.1px;
  margin: 0 0 40px 0;
}

.header__img {
  width: 100%;
}